<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Bem vindo ao site oficial da igreja OBPC da cidade de Vera Cruz!</h1>

    <p>Nosso intuito inicial será oferecer um blog que servirá como repertório e comunicação entre o ministério de louvor de nossa igreja.</p>
</body>
</html>